{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <h1>{{ formTitle }}</h1>

    {{ form_start(form, {'attr': {'class': 'form-container'}}) }}
        <div class="form-group">
            {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
            <div class="form-field">
                {{ form_widget(form.title, {'attr': {'class': 'input-text'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            <div class="form-field">
                {{ form_widget(form.description, {'attr': {'class': 'input-text'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.teacher, 'Enseignant', {'label_attr': {'class': 'form-label'}}) }}
            <div class="form-field">
                {{ form_widget(form.teacher, {'attr': {'class': 'input-text'}}) }}
            </div>
        </div>
        <button type="submit" class="button button-green">{{ buttonLabel }}</button>
    {{ form_end(form) }}

    <a href="{{ path('course_index') }}" class="button button-secondary mt-2">Retour à la liste des cours</a>
{% endblock %}
